.character-card{
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0, 0);
}
